{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&family=Manrope:wght@400;500;600;700;800&display=swap"
			rel="stylesheet"
		/>

		<link rel="stylesheet" href="{% static 'styles/index.css' %} " />

		<title>Document</title>
	</head>

	<body>
		<main>
			{% block content %}
			{% endblock %}
		</main>
		{% block scripts %}
		<script>
			// Función para manejar los votos de los comentarios
			function votar(comentarioId, esLike) {
				console.log("La función votar ha sido llamada", comentarioId, esLike);
				const url = `/votar/${comentarioId}/${esLike ? 'like' : 'dislike'}`;
				const csrftoken = getCookie('csrftoken'); // Función para obtener el token CSRF de las cookies

				fetch(url, {
					method: 'POST',
					headers: {
						'X-CSRFToken': csrftoken,
						'Content-Type': 'application/json',
					},
				})
					.then(response => response.json())
					.then(data => {
						// Actualiza el conteo de likes/dislikes en el DOM
						if (esLike) {
							document.getElementById(`like-count-${comentarioId}`).textContent = data.likes;
						} else {
							document.getElementById(`dislike-count-${comentarioId}`).textContent = data.dislikes;
						}
					})
					.catch(error => console.error('Error:', error));
			}

			// Función para obtener el valor de una cookie por su nombre
			function getCookie(name) {
				let cookieValue = null;
				if (document.cookie && document.cookie !== '') {
					const cookies = document.cookie.split(';');
					for (let i = 0; i < cookies.length; i++) {
						const cookie = cookies[i].trim();
						// ¿Esta cookie comienza con el nombre que buscamos?
						if (cookie.substring(0, name.length + 1) === (name + '=')) {
							cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
							break;
						}
					}
				}
				return cookieValue;
			}
		</script>
		{% endblock %}
	</body>
</html>
